ul[data-v-7da1087e]{width:700px;height:500px;background-color:#0ff;margin:0 auto;display:flex;flex-direction:row;justify-content:space-between;align-items:center}ul li[data-v-7da1087e]{width:100px;height:100px;background-color:#7fff00}
